
   
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #ffe4e1; 
    overflow-x: hidden; 
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; 
    object-fit: cover; 
}

@media (max-width: 768px) {
    video {
        display: none;
    }
}

h1 {
    text-align: center; 
    margin: 100px 160px; 
    padding: 0 20px;
    font-size: 2.5rem; 
    color: #f5f5f5;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out;
}


h1:hover {
    transform: scale(1.1) rotate(-3deg); 
}

nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(253, 211, 225, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #f3afaf;
    max-width: 200px;
    text-align: center;
}


a {
    display: block; 
    text-decoration: none;
}

.menu-item {
    margin: 15px 0;
    font-size: 1.2rem;
    cursor: pointer;
    color: #f7a8a8;
    background: #fff5f7;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #f3adad;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-item:hover {
    background-color: #f08080;
    color: #fff5f7;
    transform: scale(1.1);
}

.menu-item::before {
    content: '✦';
    color: #fff5f7;
    margin-right: 8px;
}
.logo-container {
    position: fixed; 
    bottom: 20px; 
    left: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px; 
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

.logo {
    width: 100px; 
    height: auto; 
}

